<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <!--<Properties>
        <Property name="property_console">%d{HH:mm:ss} %-5level %logger{1} - %msg%n</Property>
        <Property name="property_file">%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{6} - %msg%n</Property>
    </Properties>-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="${property_console}"/>-->
            <PatternLayout pattern="%sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %c{3} %C{3}.%M(%F:%L) – %m%n"/>
        </Console>
        <File name="File" fileName="logs/onlineStore.log" append="true"
              filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}.txt">
            <!--<PatternLayout pattern="${property_file}"/>-->
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.epam.onlinestore" level="trace">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="all">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>